/* General para la boleta */
body {
  font-family: 'Courier New', monospace;
  font-size: 12px;
  width: 230px; /* Ajustamos el tamaño para que sea adecuado */
  margin: 0 auto; /* Centramos el contenido en la página */
  color: #000;
  text-align: left; /* Alineamos el texto a la izquierda */
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.line {
  border-top: 1px dashed #000;
  margin: 5px 0;
}

.total {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

/* Asegura que la tabla esté centrada */
table {
  width: 100%; /* La tabla debe tomar todo el ancho disponible */
  margin-bottom: 20px;
}

td {
  padding: 5px;
  text-align: left;
}

/* Estilo del encabezado */
.boleta-header {
  text-align: center;
  margin-bottom: 20px;
}

.boleta-header img {
  width: 100px;
  height: 100px;
}

.boleta-footer {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
}

/* Estilo de impresión */
@media print {
  body {
    font-size: 12px;
    width: auto;
    margin: 0;
  }

  .boleta-header, .boleta-footer {
    margin: 0;
  }

  button {
    display: none;
  }

  .boleta-box {
    margin: 0 auto; /* Centrar la boleta al imprimir */
  }

  /* Aseguramos que la tabla sea más compacta y se ajuste al ancho */
  table {
    width: 100%;
    font-size: 12px;
  }
}

/* Boleta Box */
.boleta-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 230px; /* Asegura que la boleta no sea más ancha que el área definida */
  margin: 0 auto; /* Centrado */
  position: relative; /* Asegura que se posicione correctamente */
}

/* Estilo del botón de impresión */
.btn-print {
  margin-top: 10px;
  width: 100%;
  background-color: #54cc96;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.btn-print:hover {
  background-color: #45a37f;
}
