body::before {
  content: "";
  background: url('../img/fondo_login.jpg') no-repeat center center / cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: -1;
}