body {
    font-family: monospace;
    font-size: 12px;
    width: 230px;
    margin: 0 auto;
    color: #000;
}
.center { text-align: center; }
.line { border-top: 1px dashed #000; margin: 5px 0; }
.bold { font-weight: bold; }
.total { font-size: 100px; font-weight: bold; }
.item { display: flex; justify-content: space-between; }
@media print {
    button { display: none; }
    }
