# Forzar la URL a ser siempre relativa al dominio
RewriteEngine On

# Redirigir al index
RewriteRule ^$ frontend/views/index.html [L]

# Permitir frontend completo
RewriteRule ^frontend/(.*)$ frontend/$1 [L]

# Permitir archivos de login y logout
RewriteRule ^backend/auth/(.*)$ - [L]

# ✅ EXCEPCIÓN PARA LOS CONTROLADORES (AJAX / GRÁFICOS)
RewriteCond %{REQUEST_URI} !^/backend/controllers/
RewriteCond %{REQUEST_URI} !^/backend/auth/
RewriteCond %{REQUEST_URI} !^/backend/exports/
RewriteRule ^backend/(.*)\.php$ - [F]
